.button {
  padding: 8px 0;
  width: 100%;

  color: #FF868E;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: green;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #fff;
}

.button:hover {
  border-radius: 10px;
  background: #FBE0DC;
}

.button:active {
  color: #FFF;
  border-radius: 10px;
  background: #FF868E;
}