.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.navItem:hover .navItemImage {
  border: 4px solid #FFF;
}

.navItem:hover .navButton {
  border-radius: 10px;
  background: #FBE0DC;
}

.navItem.active .navItemImage, 
.navItem:active .navItemImage {
  border: 4px solid #FBE0DC;
}

.navItem.active .navButton, 
.navItem:active .navButton {
  color: #FFF;
  border-radius: 10px;
  background: #FF868E;
}

.navItemImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 130px;
  border: 4px solid rgba(255, 255, 255, 0.60);
  border-radius: 20px;
  margin-bottom: 10px;
}

.firstImage {
  transform: scale(1.2);
}
