.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  @apply md:mr-4;

  &--active,
  &:active {
    .navItemImage {
      border: 4px solid #FBE0DC;
    }

    .navButton {
      @apply text-white bg-primary gdark:bg-primary
    }
  }

  &:hover {
    .navItemImage {
      border: 4px solid #FFF;
    }

    .navButton {
      @apply text-primary bg-primary-soft;
    }
  }
}

.navItemImage {
  @apply 3sm:max-md:hidden md:flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  width: 130px;
  border: 4px solid rgba(255, 255, 255, 0.60);
  border-radius: 20px;
  margin-bottom: 10px;

  &--firstImage img{
    transform: scale(1.2);
  }
}

.navButton {
  @apply text-primary bg-white gdark:bg-black-light 3sm:max-md:mb-5 py-2 sm:max-md:py-3;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 10px;
}